{% extends 'common/base.html' %}

{% block title %}Cait.Rocks!{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">

                <h1 id="welcome">Welcome!</h1>
                <p>This is a website where we keep our recipes and organize our meal planning. It is very much a work in
                    progress, and has only been alive for a couple months, but it's coming around!</p>

                <h1>What can I do here?</h1>
                <p>If you have an account, go to your <a href="{% url 'planner:planner-list' %}">planner</a>, and you
                    can start laying out your own monthly meal plans. If not, you can still check out the
                    <a href="{% url 'planner:recipes-list' %}">full recipe list</a> and pick something out for
                    dinner.  If you just want to learn a bit more about the site, check the <a href="{% url 'about' %}">
                    about</a> page.
                </p>

                <h1>Anything else?</h1>
                <p>You can also look at the <a href="{% url 'planner:months-list' %}">monthly plans</a> Cait has made!
                    The mobile experience is coming along, and should keep getting better.
                </p>

                <h1>What about my own plans?</h1>
                <p>To make your own calendars, you'll need to have an account to <a href="{% url 'login' %}">login</a>.
                    If you don't have one, just ask her and we can get you one once we set this all up.</p>

            </div>
        </div>
    </div>
{% endblock %}
