# Heroku needs a custom requirements file because I can't install the enchant C library for sphinx spelling.
# Heroku doesn't have a way (that I can find) to specify an alternate path to the requirements.txt file.
# Thus, the one at the root of the repo here must be aligned with that one.
# Travis allows full flexibility and ReadTheDocs allows you to specify a different path, so they are separate.
# All of them are defined in the requirements folder, this is just a shortcut to include that other one here.
-r ./requirements/nospelling.txt
