{% extends 'common/base.html' %}

{% load static %}

{% block title %}
    Cait.Rocks Recipes!
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/recipes/css/cait_rocks.css' %}">
{% endblock %}

{% block body_ng_declarations %}
    ng-app="caitRocksApp" ng-controller="caitRocksController" ng-init="controllerInitialize()"
{% endblock %}

{% block content %}{% endblock %}

{% block extra_js %}
    <script src="{% static 'recipes/js/cait_rocks.js' %}"></script>
    <script src="{% static 'recipes/js/cait_rocks_config.js' %}"></script>
    <script src="{% static 'recipes/js/cait_rocks_services.js' %}"></script>
    <script src="{% static 'recipes/js/cait_rocks_controllers.js' %}"></script>
{% endblock %}
