{% extends 'recipes/base.html' %}

{% block title %}Cait.Rocks Monthly Plans{% endblock %}

{% block content %}

    <h1>All Months {{ num_months }}</h1>

    <table id="monthListTable" class="table table-striped">
        <tr>
            <th class="bordered_cell">Nickname</th>
            <th class="bordered_cell">Year</th>
            <th class="bordered_cell">Month</th>
        </tr>
        {% for month in months %}
            <tr>
                <td class="bordered_cell"><a href="{% url 'planner:months-detail' month.id %}">{{ month.nickname }}</a></td>
                <td class="bordered_cell">{{ month.year }}</td>
                <td class="bordered_cell">{{ month.month }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}