{% extends 'recipes/base.html' %}

{% block title %}Cait.Rocks Monthly Plan!{% endblock %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'recipes/css/months.css' %}">
{% endblock %}

{% block ng_controller %}ng-controller="months_controller"{% endblock %}

{% block ng_init %}ng-init="init( {{ django_month_id }} )"{% endblock %}

{% block content %}

    <div class="row centered_text">
        <div class="col-12">
            <h1>
                Monthly Plans
                <i id="month_load_spinner"
                   ng-show="loading_month_data"
                   class="fa fa-spinner fa-spin gray_object">
                </i>
            </h1>
        </div>
        <div class="col-12 large_bottom_margin">
            <button id="manage_months_button" class="btn btn-primary small_bottom_margin" type="button"
                    data-toggle="collapse" data-target="#month_list_container">
                Show/Hide List
            </button>
        </div>
    </div>

    <div id="month_list_container" class="fixed-header-scroll-parent collapse show">
        <table id="month_list_table" class="table fixed-header-scroll-child">

            <thead>
            <tr class="pointer">
                <th ng-click="sort_type = 'nickname'; sort_reverse = !sort_reverse">
                    Nickname
                    <span ng-show="sort_type == 'nickname' && !sort_reverse" class="fa fa-caret-down"></span>
                    <span ng-show="sort_type == 'nickname' && sort_reverse" class="fa fa-caret-up"></span>

                </th>
                <th ng-click="sort_type = 'year'; sort_reverse = !sort_reverse">
                    Year
                    <span ng-show="sort_type == 'year' && !sort_reverse" class="fa fa-caret-down"></span>
                    <span ng-show="sort_type == 'year' && sort_reverse" class="fa fa-caret-up"></span>

                </th>
                <th ng-click="sort_type = 'month'; sort_reverse = !sort_reverse">
                    Month
                    <span ng-show="sort_type == 'month' && !sort_reverse" class="fa fa-caret-down"></span>
                    <span ng-show="sort_type == 'month' && sort_reverse" class="fa fa-caret-up"></span>

                </th>
                <th ng-click="sort_type = 'creator'; sort_reverse = !sort_reverse">
                    Creator
                    <span ng-show="sort_type == 'creator' && !sort_reverse" class="fa fa-caret-down"></span>
                    <span ng-show="sort_type == 'creator' && sort_reverse" class="fa fa-caret-up"></span>

                </th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="month in all_months | orderBy:sort_type:sort_reverse"
                ng-click="select_a_month(month.id)"
                class="pointer" id="month_row_{[{ month.id }]}"
                ng-class="selected_month.id==month.id ? 'selected_row' : ''"
            >
                <td class="full_border" title="Monthly Plan Nickname">{[{ month.nickname }]}</td>
                <td class="full_border" title="Monthly Plan Year">{[{ month.year }]}</td>
                <td class="full_border" title="Monthly Plan Month">{[{ month.month }]}</td>
                <td class="full_border" title="Monthly Plan Creator">{[{ month.creator }]}</td>
            </tr>
            </tbody>

        </table>
    </div>

    <hr>

    <div ng-show="selected_month">
        <table id="month_table" class="table table-bordered responsive-table">
            <thead>
            <tr>
                <th class="calendar_day_header_cell" ng-repeat="day in days_of_week">
                    {[{ day }]}
                </th>
                <th class="eighth-column-cell">-</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="week_num in [0, 1, 2, 3, 4, 5]"
                ng-show="(week_num < 4) || (week_num === 4 && num_weeks >= 5) || (week_num === 5 && num_weeks === 6)">
                <td class="calendar_day_cell" ng-repeat="day_of_week in [0, 1, 2, 3, 4, 5, 6]" ng-class="selected_month.data[week_num][day_of_week].is_today ? 'today_cell' : ''">
                    <div>
                        <p class="date_number_paragraph">{[{ selected_month.data[week_num][day_of_week].date_number
                            }]}</p>
                        <div class="list-group"
                             ng-show="selected_month.data[week_num][day_of_week].date_number !== '-'">
                            <a class="list-group-item list-group-item-action recipe_link_box"
                               ng-repeat="recipe_num in [0, 1]"
                               ng-show="selected_month.data[week_num][day_of_week]['recipe' + recipe_num] !== null"
                               href="{[{ '/planner/recipes/' + selected_month.data[week_num][day_of_week]['recipe' + recipe_num].id + '/' }]}">
                                {[{ selected_month.data[week_num][day_of_week]['recipe' + recipe_num]['title']}]}
                            </a>
                            <a class="list-group-item list-group-item-action disabled_recipe_link_box disabled"
                               ng-repeat="recipe_num in [0, 1]"
                               ng-show="selected_month.data[week_num][day_of_week]['recipe' + recipe_num] === null"
                               href="">
                                -
                            </a>
                        </div>
                    </div>
                </td>
                <td class="eighth-column-cell">-weekend-</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

{% block page_js %}
    {% load static %}
    <script src="{% static 'recipes/js/controllers/months.js' %}"></script>
    <script src="{% static 'recipes/js/services/calendar.js' %}"></script>
{% endblock %}
