{% extends 'recipes/base.html' %}
{% block title %}Cait.Rocks Monthly Plan!{% endblock %}
{% block nginit %}ng-init="init_calendar_only()"{% endblock %}
{% block content %}
    <div ng-init="initialize_to_calendar={{ month.id }} ">
        <h1>{[{ selectedCalendar.nickname }]}
            <small>({[{ selectedCalendar.creator }]})</small>
        </h1>
        <table class="table table-bordered" style="table-layout: fixed;">
            <tr>
                <th ng-repeat="day in days_of_week" style="padding:4px;text-align:center;border:1px solid black">
                    {[{ day }]}
                </th>
            </tr>
            <tr ng-repeat="week_num in [0, 1, 2, 3, 4, 5]"
                ng-show="(week_num < 4) || (week_num === 4 && num_weeks >= 5) || (week_num === 5 && num_weeks === 6)">
                <td ng-repeat="day_of_week in [0, 1, 2, 3, 4, 5, 6]" style="padding:4px;background-color:#f2f2f2;border:1px solid black">
                    <div>
                        <p style="margin-bottom:4px;">{[{ month.data[week_num][day_of_week].date_number }]}</p>
                        <div class="list-group"
                             ng-show="month.data[week_num][day_of_week].date_number !== '-'">
                            <a class="list-group-item list-group-item-action"
                               style="text-align:center;margin-bottom:4px;padding:0.25rem;"
                               ng-repeat="recipe_num in [0, 1]"
                               ng-show="month.data[week_num][day_of_week]['recipe' + recipe_num] !== null"
                               href="{[{ '/planner/recipe_views/' + month.data[week_num][day_of_week]['recipe' + recipe_num].id + '/' }]}">
                                {[{ month.data[week_num][day_of_week]['recipe' + recipe_num]['title']}]}
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
