{% extends 'recipes/base.html' %}

{% block title %}Cait.Rocks Monthly Plans{% endblock %}

{% block content %}

    <h1>All Months {{ num_months }}</h1>

    <table id="monthListTable" class="table table-striped">
        <tr>
            <th style="border:1px solid black">Nickname</th>
            <th style="border:1px solid black">Year</th>
            <th style="border:1px solid black">Month</th>
        </tr>
        {% for month in months %}
            <tr>
                <td style="border:1px solid black"><a href="{% url 'planner:months-detail' month.id %}">{{ month.nickname }}</a></td>
                <td style="border:1px solid black">{{ month.year }}</td>
                <td style="border:1px solid black">{{ month.month }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}