{% extends 'recipes/base.html' %}

{% block title %}Cait.Rocks Monthly Plan!{% endblock %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'recipes/css/month_detail.css' %}">
{% endblock %}

{% block ng_controller %}ng-controller="month_detail_controller"{% endblock %}

{% block ng_init %}ng-init="init()"{% endblock %}

{% block content %}
    <div ng-init="retrieve_calendar({{ month_id }})">
        <h1>
            {[{ selected_calendar.nickname }]}
            <small>({[{ selected_calendar.creator }]})</small>
        </h1>
        <table id="month_table" class="table table-bordered">
            <tr>
                <th class="calendar_day_header_cell" ng-repeat="day in days_of_week">
                    {[{ day }]}
                </th>
            </tr>
            <tr ng-repeat="week_num in [0, 1, 2, 3, 4, 5]"
                ng-show="(week_num < 4) || (week_num === 4 && num_weeks >= 5) || (week_num === 5 && num_weeks === 6)">
                <td class="calendar_day_cell" ng-repeat="day_of_week in [0, 1, 2, 3, 4, 5, 6]">
                    <div>
                        <p class="date_number_paragraph">{[{ month.data[week_num][day_of_week].date_number }]}</p>
                        <div class="list-group"
                             ng-show="month.data[week_num][day_of_week].date_number !== '-'">
                            <a class="list-group-item list-group-item-action recipe_link_box"
                               ng-repeat="recipe_num in [0, 1]"
                               ng-show="month.data[week_num][day_of_week]['recipe' + recipe_num] !== null"
                               href="{[{ '/planner/recipe_views/' + month.data[week_num][day_of_week]['recipe' + recipe_num].id + '/' }]}">
                                {[{ month.data[week_num][day_of_week]['recipe' + recipe_num]['title']}]}
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block page_js %}
    {% load static %}
    <script src="{% static 'recipes/js/controllers/month_detail.js' %}"></script>
    <script src="{% static 'recipes/js/services/calendar.js' %}"></script>
{% endblock %}
