{% extends 'recipes/base.html' %}
{% block title %}Cait.Rocks Monthly Planning!{% endblock %}
{% block content %}

    <div>
        <h1 style="display:inline-block;">
            {[{ selectedCalendar.nickname }]}
        </h1>
        <button class="btn btn-primary recipe-input-container" type="button" data-toggle="collapse" style="float:right;"
                data-target="#collapseManageMonths"
                aria-expanded="false" aria-controls="collapseExample">
            Manage Months
        </button>
    </div>

    <div class="collapse recipe-input-container" id="collapseManageMonths">
        <div class="card card-body" style="padding:10px">
            <div class="input-group" style="margin-bottom:0;">
                <select ng-model="selectedCalendar" ng-options="c.nickname for c in allCalendars"
                        class="form-control input-sm"
                        style="margin-bottom:10px;"
                        ng-change="get_month_data()">
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-danger form-control" type="submit" ng-click="delete_calendar()" disabled>¡Delete Current Month!</button>
                </span>
            </div>
            <form class="form-group row" style="margin-bottom:0px;" ng-submit="add_calendar()">
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model="calendar_name"
                           placeholder="New Calendar Nickname">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model="calendar_year" placeholder="New Calendar Year">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model="calendar_month" placeholder="New Calendar Month">
                </div>
                <div class="col-md-3">
                    <input class="btn btn-primary form-control" type="submit" value="Add New Month">
                </div>
            </form>
        </div>
    </div>

    <table class="table table-bordered" style="table-layout: fixed;">
        <tr>
            <th ng-repeat="day in days_of_week" style="padding:4px;text-align:center;border:1px solid black">
                {[{ day }]}
            </th>
        </tr>
        <tr ng-repeat="week_num in [0, 1, 2, 3, 4, 5]"
            ng-show="(week_num < 4) || (week_num === 4 && num_weeks >= 5) || (week_num === 5 && num_weeks === 6)">
            <td ng-repeat="day_of_week in [0, 1, 2, 3, 4, 5, 6]"
                style="padding:4px;background-color:#f2f2f2;border:1px solid black">
                <div>
                    <p style="margin-bottom:4px;">{[{ month.data[week_num][day_of_week].date_number }]}</p>
                    <div class="form-group"
                         ng-show="month.data[week_num][day_of_week].date_number !== '-'"
                         style="margin-bottom:4px;">
                        <div class="input-group input-group-sm recipe-input-container" ng-repeat="recipe_num in [0, 1]">
                            <select
                                    id="day{[{ week_num }]}{[{ day_of_week }]}recipe0{[{ recipe_num }]}input"
                                    class="form-control"
                                    ng-model="month.data[week_num][day_of_week]['recipe' + recipe_num].id"
                                    ng-change="select_recipe_id(week_num, day_of_week, recipe_num, month.data[week_num][day_of_week].date_number)">
                                <option
                                        ng-selected="month.data[week_num][day_of_week]['recipe' + recipe_num].id == recipe.id"
                                        ng-repeat="recipe in recipe_list"
                                        ng-value="recipe.id">
                                    {[{ recipe.title }]}
                                </option>
                            </select>
                            <span
                                    class="input-group-addon recipe-clear-button"
                                    ng-show="month.data[week_num][day_of_week]['recipe' + recipe_num] !== null"
                                    ng-click="clear_recipe_id(week_num, day_of_week, recipe_num, month.data[week_num][day_of_week].date_number)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    {% include 'recipes/z_snippet_recipe_list.html' %}

{% endblock %}
