{% extends 'recipes/recipe_base.html' %}
{% block title %}Monthly Planner{% endblock %}
{% block content %}
    {% load static %}
    <h1>{[{ calendar.nickname }]}</h1>
    <table class="table table-bordered">
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <tr>
            <td>{[{ calendar.day01 }]}</td>
        </tr>
    </table>
{% endblock %}