{% extends 'recipes/base.html' %}

{% block title %}Cait.Rocks Monthly Planning!{% endblock %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'recipes/css/planner.css' %}">
{% endblock %}

{% block ng_controller %}ng-controller="planner_controller"{% endblock %}

{% block ng_init %}ng-init="init()"{% endblock %}

{% block content %}

    <div>
        <h1 ng-show="selected_calendar" id="calendar_name">
            {[{ selected_calendar.nickname }]}
        </h1>
        <h1 ng-hide="selected_calendar" id="calendar_name">
            Need to add a calendar!
        </h1>
        <button id="manage_months_button" class="btn btn-primary small-bottom-margin" type="button"
                data-toggle="collapse" data-target="#collapseManageMonths" aria-expanded="false">
            Manage Months
        </button>
        <button id="view_recipes_button" class="btn btn-primary small-bottom-margin" type="button"
                data-toggle="collapse" data-target="#collapseViewRecipes" aria-expanded="false">
            Toggle Recipes
        </button>
    </div>

    <div class="collapse small-bottom-margin" id="collapseViewRecipes">
        <div id="view_recipes_container" class="card card-body">
            <h2>All Recipes {[{ recipe_list.length ? '(' + recipe_list.length + ')' : '' }]}</h2>

            <div id="recipe_filter_group" class="input-group">
                <input type="text" class="form-control" ng-model="filterText" ng-change="filter_table_rows()"
                       placeholder="Search by recipe title, creator, or ingredient list..."/>
                <span class="input-group-btn">
                    <button id="recipe_filter_clear_button" class="btn btn-primary" type="button"
                            ng-click="clear_filter()">Clear</button>
                </span>
            </div>

            <div id="recipe_table_container">
                <table id="recipeListTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th class="bordered_cell">Recipe Type</th>
                        <th class="bordered_cell">Recipe Name</th>
                        <th class="bordered_cell">Creator</th>
                        <th class="hidden_bordered_cell">Ingredients-HIDDEN</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="recipe in recipe_list">
                        <td class="bordered_cell">{[{ recipe.recipe_type }]}</td>
                        <td class="bordered_cell"><a href="{[{ recipe.absolute_url }]}">{[{ recipe.title }]}</a></td>
                        <td class="bordered_cell">{[{ recipe.creator }]}</td>
                        <td class="hidden_bordered_cell">{[{ recipe.ingredients }]}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <form class="form-inline">
                <div class="form-group">
                    <label style="font-size:32px;" for="blank_recipe_title">Quick Add Recipe Title:</label>
                    <input style="margin-left:8px;" class="form-control" id="blank_recipe_title" ng-model="blank_recipe_title" placeholder="Recipe Title">
                    <button class="btn btn-primary" style="margin-left:8px;" ng-click="add_blank_recipe()" class="btn btn-default">Submit</button>
                </div>
            </form>

        </div>
    </div>

    <div class="collapse small-bottom-margin" id="collapseManageMonths">
        <div id="manage_months_container" class="card card-body">
            <div id="month_dropdown_container" class="input-group">
                <select id="month_dropdown" ng-model="selected_calendar" ng-options="c.nickname for c in allCalendars"
                        class="form-control input-sm"
                        ng-change="get_month_data()">
                </select>
                <span id="month_delete_button" class="input-group-btn">
                    <button class="btn btn-danger form-control" type="submit" ng-click="remove_calendar()">Delete Current Month</button>
                </span>
            </div>
            <form id="add_month_container" class="form-group row" ng-submit="add_calendar()">
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model="calendar_name"
                           placeholder="New Calendar Nickname">
                </div>
                <div class="col-md-3">
                    <select ng-model="calendar_year"
                            ng-options="y for y in [2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025]"
                            class="form-control"></select>
                </div>
                <div class="col-md-3">
                    <select ng-model="calendar_month" ng-options="m for m in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
                            class="form-control"></select>
                </div>
                <div class="col-md-3">
                    <input class="btn btn-primary form-control" type="submit" value="Add New Month">
                </div>
            </form>
            <div id="calendar_err_msg" class="alert alert-danger" ng-show="calendar_error_message">
                <div class="col-md-12">
                    <button type="button" class="close" ng-click="clear_cal_error()">&times;</button>
                    <strong>Error:</strong> {[{ calendar_error_message }]}
                </div>
            </div>
        </div>
    </div>

    <table id="month_table" class="table table-bordered" ng-show="month">
        <tr>
            <th ng-repeat="day in days_of_week" class="calendar_day_header_cell">
                {[{ day }]}
            </th>
        </tr>
        <tr ng-repeat="week_num in [0, 1, 2, 3, 4, 5]"
            ng-show="(week_num < 4) || (week_num === 4 && num_weeks >= 5) || (week_num === 5 && num_weeks === 6)">
            <td ng-repeat="day_of_week in [0, 1, 2, 3, 4, 5, 6]" class="calendar_day_cell">
                <div class="form-group small-bottom-margin">
                    <label class="control-label">{[{ month.data[week_num][day_of_week].date_number }]}</label>
                    <div class="input-group small-bottom-margin"
                         ng-show="month.data[week_num][day_of_week].date_number !== '-'"
                         ng-repeat="recipe_num in [0, 1]">
                        <select
                                id="day{[{ week_num }]}{[{ day_of_week }]}recipe0{[{ recipe_num }]}input"
                                class="selectpicker form-control"
                                style="height:29px;"
                                ng-model="month.data[week_num][day_of_week]['recipe' + recipe_num].id"
                                ng-change="select_recipe_id(week_num, day_of_week, recipe_num, month.data[week_num][day_of_week].date_number)">
                            <option
                                    ng-selected="month.data[week_num][day_of_week]['recipe' + recipe_num].id == recipe.id"
                                    ng-repeat="recipe in recipe_list"
                                    ng-value="recipe.id">
                                {[{ recipe.title }]}
                            </option>
                        </select>
                        <div class="input-group-btn">
                            <button
                                    type="button"
                                    class="clear_recipe_button btn-primary"
                                    style="border-style:solid !important; border-top-left-radius:0 !important; border-bottom-left-radius:0 !important; line-height:23px;"
                                    ng-show="month.data[week_num][day_of_week]['recipe' + recipe_num] !== null"
                                    ng-click="clear_recipe_id(week_num, day_of_week, recipe_num, month.data[week_num][day_of_week].date_number)">
                                x
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>

{% endblock %}

{% block page_js %}
    {% load static %}
    <script src="{% static 'recipes/js/controllers/planner.js' %}"></script>
    <script src="{% static 'recipes/js/services/calendar.js' %}"></script>
    <script src="{% static 'recipes/js/services/recipes.js' %}"></script>
{% endblock %}
