{% extends 'recipes/recipe_base.html' %}
{% block title %}Monthly Planner{% endblock %}
{% block content %}
    {% load static %}
    <div class="form-group recipe-input-container">
        <label>Select a Month: </label>
        <select ng-model="selectedCalendar" ng-options="c.nickname for c in allCalendars" class="form-control input-sm"
                ng-change="get_month_data()"></select>
    </div>
    <h1>{[{ selectedCalendar.nickname }]}</h1>
    <table class="table table-bordered" style="table-layout: fixed;">
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <tr>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[0][0].date_number }]}</p>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[0][0].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[0][0].recipe01" id="day00recipe00input" data-weeknum="0" data-daynum="0" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[0][0].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[0][0].recipe02" id="day00recipe01input" data-weeknum="0" data-daynum="0" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[0][1].date_number }]}</p>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[0][1].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[0][1].recipe01" id="day01recipe00input" data-weeknum="0" data-daynum="1" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[0][1].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[0][1].recipe02" id="day01recipe01input" data-weeknum="0" data-daynum="1" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[0][2].date_number }]}</p>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[0][2].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[0][2].recipe01" id="day02recipe00input" data-weeknum="0" data-daynum="2" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[0][2].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[0][2].recipe02" id="day02recipe01input" data-weeknum="0" data-daynum="2" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[0][3].date_number }]}</p>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[0][3].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[0][3].recipe01" id="day03recipe00input" data-weeknum="0" data-daynum="3" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[0][3].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[0][3].recipe02" id="day03recipe01input" data-weeknum="0" data-daynum="3" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[0][4].date_number }]}</p>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[0][4].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[0][4].recipe01" id="day04recipe00input" data-weeknum="0" data-daynum="4" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[0][4].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[0][4].recipe02" id="day04recipe01input" data-weeknum="0" data-daynum="4" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[0][5].date_number }]}</p>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[0][5].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[0][5].recipe01" id="day05recipe00input" data-weeknum="0" data-daynum="5" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[0][5].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[0][5].recipe02" id="day05recipe01input" data-weeknum="0" data-daynum="5" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[0][6].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[0][6].recipe01" id="day06recipe00input" data-weeknum="0" data-daynum="6" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[0][6].recipe02" id="day06recipe01input" data-weeknum="0" data-daynum="6" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[1][0].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[1][0].recipe01" id="day10recipe00input" data-weeknum="1" data-daynum="0" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[1][0].recipe02" id="day10recipe01input" data-weeknum="1" data-daynum="0" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[1][1].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[1][1].recipe01" id="day11recipe00input" data-weeknum="1" data-daynum="1" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[1][1].recipe02" id="day11recipe01input" data-weeknum="1" data-daynum="1" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[1][2].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[1][2].recipe01" id="day12recipe00input" data-weeknum="1" data-daynum="2" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[1][2].recipe02" id="day12recipe01input" data-weeknum="1" data-daynum="2" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[1][3].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[1][3].recipe01" id="day13recipe00input" data-weeknum="1" data-daynum="3" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[1][3].recipe02" id="day13recipe01input" data-weeknum="1" data-daynum="3" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[1][4].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[1][4].recipe01" id="day14recipe00input" data-weeknum="1" data-daynum="4" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[1][4].recipe02" id="day14recipe01input" data-weeknum="1" data-daynum="4" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[1][5].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[1][5].recipe01" id="day15recipe00input" data-weeknum="1" data-daynum="5" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[1][5].recipe02" id="day15recipe01input" data-weeknum="1" data-daynum="5" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[1][6].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[1][6].recipe01" id="day16recipe00input" data-weeknum="1" data-daynum="6" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[1][6].recipe02" id="day16recipe01input" data-weeknum="1" data-daynum="6" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[2][0].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[2][0].recipe01" id="day20recipe00input" data-weeknum="2" data-daynum="0" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[2][0].recipe02" id="day20recipe01input" data-weeknum="2" data-daynum="0" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[2][1].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[2][1].recipe01" id="day21recipe00input" data-weeknum="2" data-daynum="1" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[2][1].recipe02" id="day21recipe01input" data-weeknum="2" data-daynum="1" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[2][2].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[2][2].recipe01" id="day22recipe00input" data-weeknum="2" data-daynum="2" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[2][2].recipe02" id="day22recipe01input" data-weeknum="2" data-daynum="2" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[2][3].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[2][3].recipe01" id="day23recipe00input" data-weeknum="2" data-daynum="3" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[2][3].recipe02" id="day23recipe01input" data-weeknum="2" data-daynum="3" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[2][4].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[2][4].recipe01" id="day24recipe00input" data-weeknum="2" data-daynum="4" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[2][4].recipe02" id="day24recipe01input" data-weeknum="2" data-daynum="4" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[2][5].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[2][5].recipe01" id="day25recipe00input" data-weeknum="2" data-daynum="5" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[2][5].recipe02" id="day25recipe01input" data-weeknum="2" data-daynum="5" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[2][6].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[2][6].recipe01" id="day26recipe00input" data-weeknum="2" data-daynum="6" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[2][6].recipe02" id="day26recipe01input" data-weeknum="2" data-daynum="6" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[3][0].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[3][0].recipe01" id="day30recipe00input" data-weeknum="3" data-daynum="0" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[3][0].recipe02" id="day30recipe01input" data-weeknum="3" data-daynum="0" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[3][1].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[3][1].recipe01" id="day31recipe00input" data-weeknum="3" data-daynum="1" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[3][1].recipe02" id="day31recipe01input" data-weeknum="3" data-daynum="1" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[3][2].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[3][2].recipe01" id="day32recipe00input" data-weeknum="3" data-daynum="2" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[3][2].recipe02" id="day32recipe01input" data-weeknum="3" data-daynum="2" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[3][3].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[3][3].recipe01" id="day33recipe00input" data-weeknum="3" data-daynum="3" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[3][3].recipe02" id="day33recipe01input" data-weeknum="3" data-daynum="3" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[3][4].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[3][4].recipe01" id="day34recipe00input" data-weeknum="3" data-daynum="4" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[3][4].recipe02" id="day34recipe01input" data-weeknum="3" data-daynum="4" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[3][5].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[3][5].recipe01" id="day35recipe00input" data-weeknum="3" data-daynum="5" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[3][5].recipe02" id="day35recipe01input" data-weeknum="3" data-daynum="5" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[3][6].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[3][6].recipe01" id="day36recipe00input" data-weeknum="3" data-daynum="6" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[3][6].recipe02" id="day36recipe01input" data-weeknum="3" data-daynum="6" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
        </tr>
        <tr ng-show="num_weeks === 5">
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[4][0].date_number }]}</p>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[4][0].recipe01" id="day40recipe00input" data-weeknum="4" data-daynum="0" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[4][0].recipe02" id="day40recipe01input" data-weeknum="4" data-daynum="0" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[4][1].date_number }]}</p>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[4][1].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[4][1].recipe01" id="day41recipe00input" data-weeknum="4" data-daynum="1" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[4][1].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[4][1].recipe02" id="day41recipe01input" data-weeknum="4" data-daynum="1" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[4][2].date_number }]}</p>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[4][2].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[4][2].recipe01" id="day42recipe00input" data-weeknum="4" data-daynum="2" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[4][2].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[4][2].recipe02" id="day42recipe01input" data-weeknum="4" data-daynum="2" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[4][3].date_number }]}</p>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[4][3].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[4][3].recipe01" id="day43recipe00input" data-weeknum="4" data-daynum="3" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[4][3].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[4][3].recipe02" id="day43recipe01input" data-weeknum="4" data-daynum="3" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[4][4].date_number }]}</p>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[4][4].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[4][4].recipe01" id="day44recipe00input" data-weeknum="4" data-daynum="4" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[4][4].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[4][4].recipe02" id="day44recipe01input" data-weeknum="4" data-daynum="4" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[4][5].date_number }]}</p>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[4][5].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[4][5].recipe01" id="day45recipe00input" data-weeknum="4" data-daynum="5" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[4][5].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[4][5].recipe02" id="day45recipe01input" data-weeknum="4" data-daynum="5" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.array_data[4][6].date_number }]}</p>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[4][6].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[4][6].recipe01" id="day46recipe00input" data-weeknum="4" data-daynum="6" data-recipenum="0"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                    <div class="form-group recipe-input-container" ng-show="monthly_data.array_data[4][6].date_number !== '-'">
                        <input type="text" class="form-control recipe-input" ng-model="monthly_data.array_data[4][6].recipe02" id="day46recipe01input" data-weeknum="4" data-daynum="6" data-recipenum="1"
                               bs-options="recipe.id as recipe.title for recipe in recipe_list"
                               placeholder="Enter recipe name..." bs-typeahead>
                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
