{% extends 'recipes/recipe_base.html' %}
{% block title %}Monthly Planner{% endblock %}
{% block content %}
    {% load static %}
    <div class="form-group">
        <label>Select a Month: </label>
        <select ng-model="selectedCalendar" ng-options="c.nickname for c in allCalendars" class="form-control input-sm"
                ng-change="updateForSelectedCalendar()"></select>
    </div>
    <h1>{[{ selectedCalendar.nickname }]}</h1>
    <table class="table table-bordered" style="table-layout: fixed;">
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <tr>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d00.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day00recipe01" value="{[{ monthly_data.dates.d00.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day00recipe02" value="{[{ monthly_data.dates.d00.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day00recipe03" value="{[{ monthly_data.dates.d00.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day00recipe04" value="{[{ monthly_data.dates.d00.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d01.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day01recipe01" value="{[{ monthly_data.dates.d01.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day01recipe02" value="{[{ monthly_data.dates.d01.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day01recipe03" value="{[{ monthly_data.dates.d01.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day01recipe04" value="{[{ monthly_data.dates.d01.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d02.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day02recipe01" value="{[{ monthly_data.dates.d02.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day02recipe02" value="{[{ monthly_data.dates.d02.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day02recipe03" value="{[{ monthly_data.dates.d02.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day02recipe04" value="{[{ monthly_data.dates.d02.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d03.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day03recipe01" value="{[{ monthly_data.dates.d03.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day03recipe02" value="{[{ monthly_data.dates.d03.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day03recipe03" value="{[{ monthly_data.dates.d03.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day03recipe04" value="{[{ monthly_data.dates.d03.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d04.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day04recipe01" value="{[{ monthly_data.dates.d04.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day04recipe02" value="{[{ monthly_data.dates.d04.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day04recipe03" value="{[{ monthly_data.dates.d04.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day04recipe04" value="{[{ monthly_data.dates.d04.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d05.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day05recipe01" value="{[{ monthly_data.dates.d05.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day05recipe02" value="{[{ monthly_data.dates.d05.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day05recipe03" value="{[{ monthly_data.dates.d05.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day05recipe04" value="{[{ monthly_data.dates.d05.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d06.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day06recipe01" value="{[{ monthly_data.dates.d06.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day06recipe02" value="{[{ monthly_data.dates.d06.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day06recipe03" value="{[{ monthly_data.dates.d06.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day06recipe04" value="{[{ monthly_data.dates.d06.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d10.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day10recipe01" value="{[{ monthly_data.dates.d10.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day10recipe02" value="{[{ monthly_data.dates.d10.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day10recipe03" value="{[{ monthly_data.dates.d10.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day10recipe04" value="{[{ monthly_data.dates.d10.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d11.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day11recipe01" value="{[{ monthly_data.dates.d11.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day11recipe02" value="{[{ monthly_data.dates.d11.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day11recipe03" value="{[{ monthly_data.dates.d11.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day11recipe04" value="{[{ monthly_data.dates.d11.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d12.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day12recipe01" value="{[{ monthly_data.dates.d12.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day12recipe02" value="{[{ monthly_data.dates.d12.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day12recipe03" value="{[{ monthly_data.dates.d12.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day12recipe04" value="{[{ monthly_data.dates.d12.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d13.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day13recipe01" value="{[{ monthly_data.dates.d13.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day13recipe02" value="{[{ monthly_data.dates.d13.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day13recipe03" value="{[{ monthly_data.dates.d13.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day13recipe04" value="{[{ monthly_data.dates.d13.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d14.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day14recipe01" value="{[{ monthly_data.dates.d14.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day14recipe02" value="{[{ monthly_data.dates.d14.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day14recipe03" value="{[{ monthly_data.dates.d14.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day14recipe04" value="{[{ monthly_data.dates.d14.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d15.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day15recipe01" value="{[{ monthly_data.dates.d15.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day15recipe02" value="{[{ monthly_data.dates.d15.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day15recipe03" value="{[{ monthly_data.dates.d15.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day15recipe04" value="{[{ monthly_data.dates.d15.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d16.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day16recipe01" value="{[{ monthly_data.dates.d16.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day16recipe02" value="{[{ monthly_data.dates.d16.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day16recipe03" value="{[{ monthly_data.dates.d16.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day16recipe04" value="{[{ monthly_data.dates.d16.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d20.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day20recipe01" value="{[{ monthly_data.dates.d20.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day20recipe02" value="{[{ monthly_data.dates.d20.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day20recipe03" value="{[{ monthly_data.dates.d20.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day20recipe04" value="{[{ monthly_data.dates.d20.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d21.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day21recipe01" value="{[{ monthly_data.dates.d21.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day21recipe02" value="{[{ monthly_data.dates.d21.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day21recipe03" value="{[{ monthly_data.dates.d21.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day21recipe04" value="{[{ monthly_data.dates.d21.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d22.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day22recipe01" value="{[{ monthly_data.dates.d22.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day22recipe02" value="{[{ monthly_data.dates.d22.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day22recipe03" value="{[{ monthly_data.dates.d22.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day22recipe04" value="{[{ monthly_data.dates.d22.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d23.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day23recipe01" value="{[{ monthly_data.dates.d23.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day23recipe02" value="{[{ monthly_data.dates.d23.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day23recipe03" value="{[{ monthly_data.dates.d23.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day23recipe04" value="{[{ monthly_data.dates.d23.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d24.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day24recipe01" value="{[{ monthly_data.dates.d24.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day24recipe02" value="{[{ monthly_data.dates.d24.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day24recipe03" value="{[{ monthly_data.dates.d24.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day24recipe04" value="{[{ monthly_data.dates.d24.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d25.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day25recipe01" value="{[{ monthly_data.dates.d25.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day25recipe02" value="{[{ monthly_data.dates.d25.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day25recipe03" value="{[{ monthly_data.dates.d25.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day25recipe04" value="{[{ monthly_data.dates.d25.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d26.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day26recipe01" value="{[{ monthly_data.dates.d26.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day26recipe02" value="{[{ monthly_data.dates.d26.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day26recipe03" value="{[{ monthly_data.dates.d26.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day26recipe04" value="{[{ monthly_data.dates.d26.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d30.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day30recipe01" value="{[{ monthly_data.dates.d30.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day30recipe02" value="{[{ monthly_data.dates.d30.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day30recipe03" value="{[{ monthly_data.dates.d30.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day30recipe04" value="{[{ monthly_data.dates.d30.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d31.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day31recipe01" value="{[{ monthly_data.dates.d31.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day31recipe02" value="{[{ monthly_data.dates.d31.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day31recipe03" value="{[{ monthly_data.dates.d31.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day31recipe04" value="{[{ monthly_data.dates.d31.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d32.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day32recipe01" value="{[{ monthly_data.dates.d32.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day32recipe02" value="{[{ monthly_data.dates.d32.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day32recipe03" value="{[{ monthly_data.dates.d32.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day32recipe04" value="{[{ monthly_data.dates.d32.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d33.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day33recipe01" value="{[{ monthly_data.dates.d33.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day33recipe02" value="{[{ monthly_data.dates.d33.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day33recipe03" value="{[{ monthly_data.dates.d33.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day33recipe04" value="{[{ monthly_data.dates.d33.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d34.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day34recipe01" value="{[{ monthly_data.dates.d34.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day34recipe02" value="{[{ monthly_data.dates.d34.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day34recipe03" value="{[{ monthly_data.dates.d34.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day34recipe04" value="{[{ monthly_data.dates.d34.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d35.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day35recipe01" value="{[{ monthly_data.dates.d35.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day35recipe02" value="{[{ monthly_data.dates.d35.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day35recipe03" value="{[{ monthly_data.dates.d35.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day35recipe04" value="{[{ monthly_data.dates.d35.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d36.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day36recipe01" value="{[{ monthly_data.dates.d36.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day36recipe02" value="{[{ monthly_data.dates.d36.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day36recipe03" value="{[{ monthly_data.dates.d36.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day36recipe04" value="{[{ monthly_data.dates.d36.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
        </tr>
        <tr ng-show="num_weeks === 5">
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d40.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day40recipe01" value="{[{ monthly_data.dates.d40.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day40recipe02" value="{[{ monthly_data.dates.d40.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day40recipe03" value="{[{ monthly_data.dates.d40.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day40recipe04" value="{[{ monthly_data.dates.d40.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d41.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day41recipe01" value="{[{ monthly_data.dates.d41.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day41recipe02" value="{[{ monthly_data.dates.d41.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day41recipe03" value="{[{ monthly_data.dates.d41.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day41recipe04" value="{[{ monthly_data.dates.d41.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d42.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day42recipe01" value="{[{ monthly_data.dates.d42.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day42recipe02" value="{[{ monthly_data.dates.d42.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day42recipe03" value="{[{ monthly_data.dates.d42.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day42recipe04" value="{[{ monthly_data.dates.d42.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d43.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day43recipe01" value="{[{ monthly_data.dates.d43.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day43recipe02" value="{[{ monthly_data.dates.d43.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day43recipe03" value="{[{ monthly_data.dates.d43.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day43recipe04" value="{[{ monthly_data.dates.d43.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d44.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day44recipe01" value="{[{ monthly_data.dates.d44.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day44recipe02" value="{[{ monthly_data.dates.d44.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day44recipe03" value="{[{ monthly_data.dates.d44.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day44recipe04" value="{[{ monthly_data.dates.d44.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d45.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day45recipe01" value="{[{ monthly_data.dates.d45.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day45recipe02" value="{[{ monthly_data.dates.d45.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day45recipe03" value="{[{ monthly_data.dates.d45.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day45recipe04" value="{[{ monthly_data.dates.d45.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <p>{[{ monthly_data.dates.d46.date_number }]}</p>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day46recipe01" value="{[{ monthly_data.dates.d46.recipe01.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day46recipe02" value="{[{ monthly_data.dates.d46.recipe02.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day46recipe03" value="{[{ monthly_data.dates.d46.recipe03.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                    <div class="form-group" style="margin-bottom:4px">
                        <input type="text" class="form-control" id="day46recipe04" value="{[{ monthly_data.dates.d46.recipe04.title }]}"
                               style="padding:3px;height:22px">
                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
