{% extends 'recipes/base.html' %}
{% block title %}Cait.Rocks Monthly Planning!{% endblock %}
{% block content %}

    <div class="form-group recipe-input-container">
        <label>Select a Month: </label>
        <select ng-model="selectedCalendar" ng-options="c.nickname for c in allCalendars" class="form-control input-sm"
                ng-change="get_month_data()"></select>
    </div>

    <form class="form-group row" ng-submit="add_calendar()">
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="calendar_name" placeholder="New Calendar Nickname">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="calendar_year" placeholder="New Calendar Year">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="calendar_month" placeholder="New Calendar Month">
        </div>
        <div class="col-md-3">
            <input class="btn btn-primary form-control" type="submit" value="Add New Month">
        </div>
    </form>

    <h1>{[{ selectedCalendar.nickname }]}</h1>

    <table class="table table-bordered" style="table-layout: fixed;">
        <tr>
            <th ng-repeat="day in days_of_week">
                {[{ day }]}
            </th>
        </tr>
        <tr ng-repeat="week_num in [0, 1, 2, 3, 4, 5]"
            ng-show="(week_num < 4) || (week_num === 4 && num_weeks >= 5) || (week_num === 5 && num_weeks === 6)">
            <td ng-repeat="day_of_week in [0, 1, 2, 3, 4, 5, 6]">
                <div>
                    <p>{[{ month.data[week_num][day_of_week].date_number }]}</p>
                    <div class="form-group recipe-input-container"
                         ng-show="month.data[week_num][day_of_week].date_number !== '-'">
                        <form>
                            <div class="form-group">
                                <select
                                        ng-repeat="recipe_num in [0, 1]"
                                        id="day{[{ week_num }]}{[{ day_of_week }]}recipe0{[{ recipe_num }]}input"
                                        class="form-control recipe-input"
                                        ng-class="{'valid_recipe': month.data[week_num][day_of_week][recipe_num] !== null}"
                                        ng-model="month.data[week_num][day_of_week]['recipe' + recipe_num].id"
                                        ng-change="select_recipe_id(week_num, day_of_week, recipe_num, month.data[week_num][day_of_week].date_number)">
                                    <option
                                        ng-selected="month.data[week_num][day_of_week]['recipe' + recipe_num].id == recipe.id"
                                        ng-repeat="recipe in recipe_list"
                                        ng-value="recipe.id">
                                        {[{ recipe.title }]}
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    {% include 'recipes/z_snippet_recipe_list.html' %}

{% endblock %}
