<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>
        {% block title %}RecipLees!{% endblock %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'ubuntu-font/ubuntu.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">

</head>

<body style="font-family: Ubuntu, sans-serif;" ng-app="recipeApp" ng-controller="recipeController">

{% block navbar %}
    <nav class="navbar navbar-default" style="border-radius: 0;">
        <a class="navbar-brand" href="{% url 'cookbook:recipes-list' %}">
            <b>Cait.Rocks</b>
        </a>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'cookbook:recipes-list' %}">All Recipes</a></li>
                    <li><a href="{% url 'admin:index' %}">Administration</a></li>
                    <li><a href="{% url 'api' %}">API</a></li>
                    <li><a href="{% url 'cookbook:monthly_plan-list' %}">Monthly Plan</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'angular/angular.min.js' %}"></script>
<script src="{% static 'js/recipeApp.js' %}"></script>

</body>

</html>