{% extends 'recipes/recipe_base.html' %}
{% block title %}Cait Rocks Recipes!{% endblock %}
{% block content %}
    <h1>All Recipes {[{ recipe_list.length ? '(' + recipe_list.length + ')' : '' }]}</h1>

    <div class="input-group">
        <input type="text" class="form-control" ng-model="filterText" ng-init="" ng-change="filterTableRows()"
               placeholder="Search by recipe title.."/>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="clearFilter()">Clear</button>
        </span>
    </div>

    <table id="recipeListTable" class="table table-striped">
        <tr>
            <th>Recipe Type</th>
            <th>Recipe Name</th>
        </tr>
        <tr ng-repeat="recipe in recipe_list">
            <td>{[{ recipe.recipe_type }]}</td>
            <td><a href="{[{ recipe.absolute_url }]}">{[{ recipe.title }]}</a></td>
        </tr>
    </table>

{% endblock %}
