{% extends 'recipes/base.html' %}

{% block title %}Cait.Rocks {{ recipe.title }}{% endblock %}

{% block content %}
    {% if recipe %}

        <h1>{{ recipe.title }}</h1>

        <h2>Ingredients</h2>
        <ul class="list-group" id="ingredientList">
            {% for ingredient in ingredients %}
                <li class="list-group-item">{{ ingredient }}</li>
            {% endfor %}
        </ul>

        <h2>Directions</h2>
        <p>{{ recipe.directions | linebreaks }}</p>

    {% endif %}
{% endblock %}
