#calendar_name {
    display: inline-block;
}

#manage_months_button {
    float: right;
}

#view_recipes_button {
    margin-right: 10px;
    float: right;
}

#view_recipes_container {
    padding: 10px;
}

#manage_months_container {
    padding: 10px;
}

#month_dropdown_container {
    margin-bottom: 0;
}

#month_dropdown {
    margin-bottom: 10px;
}

#month_delete_button {
    padding-left: 15px;
}

#add_month_container {
    margin-bottom: 0;
}

#calendar_err_msg {
    margin-top: 12px;
    margin-bottom: 0;
}

.recipes_div_container {
    margin-bottom: 4px;
}

.recipe_select {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.clear_recipe_button {
    border-radius: 5px;
    border-style: solid !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    line-height: 32px;
}

.heading_text {
    font-size: 32px;
}

.small_left_margin {
    margin-left: 8px;
}