#recipe_list_table thead tr td {
    border: 1px solid black !important;
}

.selected_recipe_row {
    background-color: orange;
}

.recipe_image_container {
    border-right: solid 1px rgba(0, 0, 0, 0.1);
}

#selected_recipe_image {
    max-width: 100%;
    height: auto;
}

.pointer {
    cursor: pointer;
}

.directions_heading_text {
    margin-top: 20px;
}

.wrapped_text {
    white-space: pre-wrap;
}
